@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #05071A;
  --primary-text: #FFFFFF;
  --primary: #376AED;
  --secondary: #A8C0FF;
  --tertiary: #ED7CFF;
}

body {
  background: var(--background);
  color: var(--primary-text);
}

.navbar-large {
  @apply mt-4;
}

h1 {
  @apply text-2xl/[1.1] md:text-3xl/[1.1] lg:text-4xl/[1.1] xl:text-6xl/[1.1];
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-xs md:text-base lg:text-lg xl:text-xl;
}

p {
  @apply text-xs md:text-sm lg:text-base;
}

.primary-btn{
  @apply text-center px-5 py-3 text-sm lg:text-lg xl:text-xl font-bold rounded-full transition ease-in-out duration-500 shadow-md;
}

.content-section{
  @apply flex w-full px-4 xl:px-12 justify-center items-center xl:w-5/6 mt-12 xl:mt-0 ml-auto h-screen min-h-screen;
}

.radial-gradient {
  background: radial-gradient(circle, #376bed50 , #376bed50);
}